<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Aggiungi Region</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAdd()">Chiudi</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form data-ng-submit="create()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Identifier</span>
          <input type="text" data-ng-model="region.identifier" placeholder="Identifier" required="">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">UUID</span>
          <input type="text" data-ng-model="region.uuid" placeholder="UUID" required="">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Major</span>
          <input type="text" data-ng-model="region.major" placeholder="Major">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Minor</span>
          <input type="text" data-ng-model="region.minor" placeholder="Minor">
        </label>
        <ul class="list">
          <ul>
            <li class="item item-toggle">
              notifyEntryStateOnDisplay
              <label class="toggle toggle-assertive">
                <input data-ng-model="region.notifyEntryStateOnDisplay" data-ng-click="change()" type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
          </ul>
          <input class="button button-block button-positive" type="submit" value="createRegion">
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
