<ion-view view-title="Authorization">
  <ion-content>
    <button data-ng-click="getAuthorizationStatus()" class="button button-block button-calm">
      getAuthorizationStatus
    </button>
    <button data-ng-click="requestWhenInUseAuthorization()" class="button button-block button-balanced">
      requestWhenInUseAuthorization
    </button>
    <button data-ng-click="requestAlwaysAuthorization()" class="button button-block button-energized">
      requestAlwaysAuthorization
    </button>
    <div class="card">
      <div class="item item-divider">
        LOG didChangeAuthorizationStatus
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
            {{log.didChangeAuthorizationStatus}}
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
