<ion-view view-title="Bluetooth">
  <ion-content>
    <button data-ng-click="isBluetoothEnabled()" class="button button-block button-calm">
      isBluetoothEnabled
    </button>
    <button data-ng-click="enableBluetooth()" class="button button-block button-balanced">
      enableBluetooth
    </button>
    <button data-ng-click="disableBluetooth()" class="button button-block button-energized">
      disableBluetooth
    </button>
    <div class="card">
      <div class="item item-divider">
        LOG didChangeAuthorizationStatus
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item">
            {{log.didChangeAuthorizationStatus}}
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
