<ion-view view-title="Region">
  <ion-content>
    <button data-ng-click="openAdd()" class="button button-block button-calm">
      Aggiungi region
    </button>
    <ul class="list">
      <li class="item" data-ng-repeat="region in regions">
        identifier: {{region.identifier}}<br />
        uuid: {{region.uuid}}<br />
        major: {{region.major}}<br />
        minor: {{region.minor}}<br />
        notifyEntryStateOnDisplay: {{region.notifyEntryStateOnDisplay}}<br />
      </li>
    </ul>
  </ion-content>
</ion-view>
